# All files to globally ignore
*.pyc
*.pyo
*$py.class
*.swp
*.patch
.idea
*#
*~
*.egg
*.egg-info
.figleaf_interesting
.figleaf
MANIFEST
dist
build
.build
test/coverage
data
doc/source/modules.rst
doc/source/rho.rst

.vagrant
*.retry
