# Test runner/testing utils
pytest
pytest-cov

# Mocking library
Mock

#Linting
enum34
configparser
flake8==3.5.0
pylint==1.8.1

#Coverage
Coverage

# Needed for StringIO
six

# Fact documentation
docutils
