---

- name: initialize subman dictionary
  set_fact:
    subman: "{{ subman|default({}) }}"

- name: gather subman.cpu.cpu(s) fact
  raw: subscription-manager facts --list | grep '^cpu.cpu(s).' | sed -n -e 's/^.*cpu.cpu(s).\s*//p'
  register: subman_cpu_cpu
  ignore_errors: yes
  become: yes
  when: '"subman.cpu.cpu(s)" in facts_to_collect'

- name: add subman.cpu.cpu(s) to dictionary
  set_fact:
    subman: "{{ subman|default({}) | combine({ item: subman_cpu_cpu['stdout'] | trim | default('error') }) }}"
  with_items:
  - 'subman.cpu.cpu(s)'
  when: '"subman.cpu.cpu(s)" in facts_to_collect'

- name: gather subman.cpu.core(s)_per_socket fact
  raw: subscription-manager facts --list | grep '^cpu.core(s)_per_socket.' | sed -n -e 's/^.*cpu.core(s)_per_socket.\s*//p'
  register: subman_cpu_core_per_socket
  ignore_errors: yes
  become: yes
  when: '"subman.cpu.core(s)_per_socket" in facts_to_collect'

- name: add subman.cpu.core(s)_per_socket to dictionary
  set_fact:
    subman: "{{ subman|default({}) | combine({ item: subman_cpu_core_per_socket['stdout'] | trim | default('error') }) }}"
  with_items:
  - 'subman.cpu.core(s)_per_socket'
  when: '"subman.cpu.core(s)_per_socket" in facts_to_collect'

- name: gather subman.cpu.cpu_socket(s) fact
  raw: subscription-manager facts --list | grep '^cpu.cpu_socket(s).' | sed -n -e 's/^.*cpu.cpu_socket(s).\s*//p'
  register: subman_cpu_cpu_socket
  ignore_errors: yes
  become: yes
  when: '"subman.cpu.cpu_socket(s)" in facts_to_collect'

- name: add subman.cpu.cpu_socket(s) to dictionary
  set_fact:
    subman: "{{ subman|default({}) | combine({ item: subman_cpu_cpu_socket['stdout'] | trim | default('error') }) }}"
  with_items:
  - 'subman.cpu.cpu_socket(s)'
  when: '"subman.cpu.cpu_socket(s)" in facts_to_collect'

- name: gather subman.virt.host_type fact
  raw: subscription-manager facts --list | grep '^virt.host_type.' | sed -n -e 's/^.*virt.host_type.\s*//p'
  register: subman_virt_host_type
  ignore_errors: yes
  become: yes
  when: '"subman.virt.host_type" in facts_to_collect'

- name: add subman.virt.host_type to dictionary
  set_fact:
    subman: "{{ subman|default({}) | combine({ item: subman_virt_host_type['stdout'] | trim | default('error') }) }}"
  with_items:
  - 'subman.virt.host_type'
  when: '"subman.virt.host_type" in facts_to_collect'

- name: gather subman.virt.is_guest fact
  raw: subscription-manager facts --list | grep '^virt.is_guest.' | sed -n -e 's/^.*virt.is_guest.\s*//p'
  register: subman_virt_is_guest
  ignore_errors: yes
  become: yes
  when: '"subman.virt.is_guest" in facts_to_collect'

- name: add subman.virt.is_guest to dictionary
  set_fact:
    subman: "{{ subman|default({}) | combine({ item: subman_virt_is_guest['stdout'] | trim | default('error') }) }}"
  with_items:
  - 'subman.virt.is_guest'
  when: '"subman.virt.is_guest" in facts_to_collect'

- name: gather subman.virt.uuid fact
  raw: subscription-manager facts --list | grep '^virt.uuid.' | sed -n -e 's/^.*virt.uuid.\s*//p'
  register: subman_virt_uuid
  ignore_errors: yes
  become: yes
  when: '"subman.virt.uuid" in facts_to_collect'

- name: add subman.virt.uuid to dictionary
  set_fact:
    subman: "{{ subman|default({}) | combine({ item: subman_virt_uuid['stdout'] | trim | default('error') }) }}"
  with_items:
  - 'subman.virt.uuid'
  when: '"subman.virt.uuid" in facts_to_collect'

- name: gather subman.has_facts_file fact
  raw: fact_count=$(ls /etc/rhsm/facts | grep .facts | wc -l); if [[ $fact_count > 0 ]]; then echo "Y"; else echo "N"; fi
  register: subman_has_facts_file
  ignore_errors: yes
  when: '"subman.has_facts_file" in facts_to_collect'

- name: add subman.has_facts_file to dictionary
  set_fact:
    subman: "{{ subman|default({}) | combine({ item: subman_has_facts_file['stdout'] | trim | default('error') }) }}"
  with_items:
  - 'subman.has_facts_file'
  when: '"subman.has_facts_file" in facts_to_collect'
